html,body{
	background-color: #f2f2f2;
	color: #333;
	font-size: 14px;
}



a{
	text-decoration: none;
}

img{
	border-radius: 10px;
	padding:2px;
}

ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

ul li {
	padding: 5px;
	border-bottom: 1px solid #dcdcde;
}

li.active{
	background-color: green;
	color: #fff;
	a {
		color: #fff;
	}
}

.container {
	overflow: hidden;
	padding-left: 0;
	padding-right:0;
}

.image-list {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	/*overflow: hidden;*/
	background-color: #080B16;
	color: #fefeff;

	img{
		width: 238px;

	}

	.image-box{
		display: flex;
		flex-direction: column;
		margin: 3px;
		border: 1px solid #555;
		border-radius: 10px;
		box-shadow: 10px;
	}

	.public-0 img{
		opacity: 0.4;
	}

	.public-0 img:hover{
		opacity: 1.0;
	}

	.member-1 img{
		width: 236px;
		border-right: 2px solid purple;
		border-bottom: 2px solid purple;
	}

	.private-1 img{
		width: 236px;
		border-top: 2px solid orange;
		border-left: 2px solid orange;
	}

	.adult-1 img{
		filter: blur(40px);
	}
}

ul.pagination{
	margin-top: 20px;	
	align: center;
	align: center;
	width: 280px;

	margin-left: auto;
	margin-right: auto;

	li.page-item a{
		background-color: #080B16;
		color: #fff;
		font-weight: 700;
	}
}

table td{
	vertical-align: top;
}

img.big-image{
	width: 760px;
	filter: brightness(108%);
}

textarea.ta-big{
	width: 987px;
	height: 100px;
	resize: none;
}

.col-model,
.col-user{
	background-color: #fff;
	min-height: 100%;
}

.photos-detail .col-image{
	border-radius: 10px 10px 0 0;
}

h3{
	color: #333;
	font-weight: 700;
	font-size: 1.25em;
}



ul.model-gallery{
	border: 0px solid #ccc;
	margin: 0;
	padding:0;
	list-style: none;
	display: block;
	width: 100%;
	img{
		width: 96px;
		height: 96px;
	}
	li{
		font-size: 13px;
		border: 1px solid #999;
		display: inline-block;
		width: 128px;
		height: 158px;
		overflow: hidden;
		word-wrap: all;
		word-break: break-all;
		text-align: center;
	}
}

